In [ ]:
!pip install -q sql_magic

# Load the SQL magic extension
%load_ext sql_magic

# Connect to an SQLite in-memory database
%config SQL.conn_name = 'sqlite:///mydatabase.db'

ERROR:root:Connection name "sqlite:///mydatabase.db" not recognized

The sql_magic extension is already loaded. To reload it, use:
  %reload_ext sql_magic

In [ ]:
!pip install -q ipython-sql

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///mydatabase.db

In [ ]:
%%sql
CREATE DATABASE FitnessManagementSystem;

-- Use the database
USE FitnessManagementSystem;

-- Create a table for gym members
CREATE TABLE Members(
    MemberID INT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    FeeStatus VARCHAR(10) DEFAULT 'Pending'
);

-- Create a table for trainers
CREATE TABLE Trainers (
    TrainerID INT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Specialization VARCHAR(255) NOT NULL,
    Salary DECIMAL(10, 2) DEFAULT 0.00 NOT NULL,
    MemberTrained INT,

    FOREIGN KEY (MemberTrained) REFERENCES Members(MemberID)
);


-- Create a table for staff
CREATE TABLE Staff(
    StaffID INT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Position VARCHAR(255) NOT NULL,
    SalaryStatus VARCHAR(10) DEFAULT 'Unpaid'
);

-- Create a table to track which trainer trains which member
CREATE TABLE MemberTrainerMapping(
    MemberID INT,
    TrainerID INT,
    FOREIGN KEY (MemberID) REFERENCES Members(MemberID),
    FOREIGN KEY (TrainerID) REFERENCES Trainers(TrainerID),
    PRIMARY KEY (MemberID, TrainerID)
);

 * sqlite:///mydatabase.db
(sqlite3.OperationalError) near "DATABASE": syntax error
[SQL: CREATE DATABASE FitnessManagementSystem;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('FitnessManagementSystem.db')
cursor = conn.cursor()

def display_menu():
    print("\nFitness Management System Menu:")
    print("1. Add Gym Member")
    print("2. Remove Gym Member")
    print("3. Add Trainer")
    print("4. Remove Trainer")
    print("5. Add Staff")
    print("6. Remove Staff")
    print("7. View Member Information")
    print("8. View Trainer Information")
    print("9. View Staff Information")
    print("0. Exit")

# Function to add a gym member
def add_member():
    name = input("Enter member name: ")
    cursor.execute("INSERT INTO Members (Name) VALUES (?)", (name,))
    conn.commit()
    print(f"{name} has been added as a gym member.")

# Function to remove a gym member
def remove_member():
    member_id = input("Enter member ID to remove: ")
    cursor.execute("DELETE FROM Members WHERE MemberID=?", (member_id,))
    conn.commit()
    print(f"Member with ID {member_id} has been removed.")

# Function to add a trainer
def add_trainer():
    name = input("Enter trainer name: ")
    specialization = input("Enter trainer specialization: ")
    cursor.execute("INSERT INTO Trainers (Name, Specialization) VALUES (?, ?)", (name, specialization))
    conn.commit()
    print(f"{name} has been added as a trainer.")

# Function to remove a trainer
def remove_trainer():
    trainer_id = input("Enter trainer ID to remove: ")
    cursor.execute("DELETE FROM Trainers WHERE TrainerID=?", (trainer_id,))
    conn.commit()
    print(f"Trainer with ID {trainer_id} has been removed.")

# Function to add staff
def add_staff():
    name = input("Enter staff name: ")
    position = input("Enter staff position: ")
    cursor.execute("INSERT INTO Staff (Name, Position) VALUES (?, ?)", (name, position))
    conn.commit()
    print(f"{name} has been added as staff.")

# Function to remove staff
def remove_staff():
    staff_id = input("Enter staff ID to remove: ")
    cursor.execute("DELETE FROM Staff WHERE StaffID=?", (staff_id,))
    conn.commit()
    print(f"Staff with ID {staff_id} has been removed.")

# Function to view member information
def view_member_info():
    cursor.execute("SELECT * FROM Members")
    members = cursor.fetchall()
    print("\nGym Member Information:")
    for member in members:
        print(f"Member ID: {member[0]}, Name: {member[1]}, Fee Status: {member[2]}")

# Function to view trainer information
def view_trainer_info(cursor):
    cursor.execute("SELECT * FROM Trainers")
    trainers = cursor.fetchall()

    print("\nGym Trainer Information:")
    for trainer in trainers:
        trainer_id, name, salary, member_trained = trainer
        cursor.execute(f"SELECT * FROM Members WHERE TrainerID = {trainer_id}")
        trained_members = cursor.fetchall()

        print(f"Trainer ID: {trainer_id}, Name: {name}, Salary: {salary}, Member Trained: {member_trained}")

        print("Trained Members:")
        for member in trained_members:
            member_id, member_name, fee_status = member
            print(f"    Member ID: {member_id}, Name: {member_name}, Fee Status: {fee_status}")

# Function to view staff information
def view_staff_info():
    cursor.execute("SELECT * FROM Staff")
    staff = cursor.fetchall()
    print("\nStaff Information:")
    for member in staff:
        print(f"Staff ID: {member[0]}, Name: {member[1]}, Position: {member[2]}, Salary Status: {member[3]}")

# Main program loop
while True:
    display_menu()
    choice = input("Enter your choice (0-9): ")

    if choice == '1':
        add_member()
    elif choice == '2':
        remove_member()
    elif choice == '3':
        add_trainer()
    elif choice == '4':
        remove_trainer()
    elif choice == '5':
        add_staff()
    elif choice == '6':
        remove_staff()
    elif choice == '7':
        view_member_info()
    elif choice == '8':
        view_trainer_info()
    elif choice == '9':
        view_staff_info()
    elif choice == '0':
        break
    else:
        print("Invalid choice. Please enter a number between 0 and 9.")

# Close the database connection
conn.close()

Fitness Management System Menu:
1. Add Gym Member
2. Remove Gym Member
3. Add Trainer
4. Remove Trainer
5. Add Staff
6. Remove Staff
7. View Member Information
8. View Trainer Information
9. View Staff Information
0. Exit
Enter your choice (0-9): 1
Enter member name: omer

OperationalError: ignored

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('FitnessManagementSystem.db')
cursor = conn.cursor()

def display_menu():
    print("\nFitness Management System Menu:")
    print("1. Add Gym Member")
    print("2. Remove Gym Member")
    print("3. Add Trainer")
    print("4. Remove Trainer")
    print("5. Add Staff")
    print("6. Remove Staff")
    print("7. View Member Information")
    print("8. View Trainer Information")
    print("9. View Staff Information")
    print("0. Exit")

# Function to add a gym member
def add_member():
    name = input("Enter member name: ")
    cursor.execute("INSERT INTO Members (Name) VALUES (?)", (name,))
    conn.commit()
    print(f"{name} has been added as a gym member.")

# Function to remove a gym member
def remove_member():
    member_id = input("Enter member ID to remove: ")
    cursor.execute("DELETE FROM Members WHERE MemberID=?", (member_id,))
    conn.commit()
    print(f"Member with ID {member_id} has been removed.")

# Function to add a trainer
def add_trainer():
    name = input("Enter trainer name: ")
    specialization = input("Enter trainer specialization: ")
    cursor.execute("INSERT INTO Trainers (Name, Specialization) VALUES (?, ?)", (name, specialization))
    conn.commit()
    print(f"{name} has been added as a trainer.")

# Function to remove a trainer
def remove_trainer():
    trainer_id = input("Enter trainer ID to remove: ")
    cursor.execute("DELETE FROM Trainers WHERE TrainerID=?", (trainer_id,))
    conn.commit()
    print(f"Trainer with ID {trainer_id} has been removed.")

# Function to add staff
def add_staff():
    name = input("Enter staff name: ")
    position = input("Enter staff position: ")
    cursor.execute("INSERT INTO Staff (Name, Position) VALUES (?, ?)", (name, position))
    conn.commit()
    print(f"{name} has been added as staff.")

# Function to remove staff
def remove_staff():
    staff_id = input("Enter staff ID to remove: ")
    cursor.execute("DELETE FROM Staff WHERE StaffID=?", (staff_id,))
    conn.commit()
    print(f"Staff with ID {staff_id} has been removed.")

# Function to view member information
def view_member_info():
    cursor.execute("SELECT * FROM Members")
    members = cursor.fetchall()
    print("\nGym Member Information:")
    for member in members:
        print(f"Member ID: {member[0]}, Name: {member[1]}, Fee Status: {member[2]}")

# Function to view trainer information
def view_trainer_info(cursor):
    cursor.execute("SELECT * FROM Trainers")
    trainers = cursor.fetchall()

    print("\nGym Trainer Information:")
    for trainer in trainers:
        trainer_id, name, salary, member_trained = trainer
        cursor.execute(f"SELECT * FROM Members WHERE TrainerID = {trainer_id}")
        trained_members = cursor.fetchall()

        print(f"Trainer ID: {trainer_id}, Name: {name}, Salary: {salary}, Member Trained: {member_trained}")

        print("Trained Members:")
        for member in trained_members:
            member_id, member_name, fee_status = member
            print(f"    Member ID: {member_id}, Name: {member_name}, Fee Status: {fee_status}")

# Function to view staff information
def view_staff_info():
    cursor.execute("SELECT * FROM Staff")
    staff = cursor.fetchall()
    print("\nStaff Information:")
    for member in staff:
        print(f"Staff ID: {member[0]}, Name: {member[1]}, Position: {member[2]}, Salary Status: {member[3]}")

# Main program loop
while True:
    display_menu()
    choice = input("Enter your choice (0-9): ")

    if choice == '1':
        add_member()
    elif choice == '2':
        remove_member()
    elif choice == '3':
        add_trainer()
    elif choice == '4':
        remove_trainer()
    elif choice == '5':
        add_staff()
    elif choice == '6':
        remove_staff()
    elif choice == '7':
        view_member_info()
    elif choice == '8':
        view_trainer_info()
    elif choice == '9':
        view_staff_info()
    elif choice == '0':
        break
    else:
        print("Invalid choice. Please enter a number between 0 and 9.")

# Close the database connection
conn.close()